#modal {
  border-radius: 10px;
  border: 0;
  background-color: white;
  outline: none;
}

#modal::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
  width: 630px;
  max-height: 690px;
  height: 85vh;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.modal-gallery-container {
  height: 100%;
  width: 420px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-gallery-container h3 {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 26px;
}

.modal-gallery {
  flex: 1;
  overflow-y: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 100px;
  row-gap: 30px;
  column-gap: 10px;
}

.gallery-element {
  position: relative;
}

.gallery-element img {
  object-fit: fill;
  height: 100%;
}

i.fa-trash-can {
  color: white;
  background-color: black;
  height: 17px;
  width: 17px;
  border-radius: 2px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-gallery-button-container {
  width: 100%;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 40px;
  border-top: 1px solid #b3b3b3;
}

.modal-gallery-container button {
  width: 240px;
  height: 35px;
  border-radius: 60px;
  border: none;
  outline: none;
  background-color: var(--dark-green-color);
  color: white;
  font-family: "Syne";
  font-weight: 700;
}
